
.header span{
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 2%;
    transform: translateY(-50%);
}

.header h1{
    margin: 0;
}

.header{
    background: #1ea1f2;
    color: #fff;
    position: relative;
}